@model IEnumerable<BookStore.Models.Entities.Sach>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anhbia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaycapnhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soluongton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhaxuatbanma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chudema)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anhbia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaycapnhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soluongton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nhaxuatbanma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chudema)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
